.editProject__sideBar {
    position: fixed;
    z-index: 2;
}

.editProject__body {
    margin-left: 201px;
    padding: 50px;
}

.editProject__contentTitleImage {
    flex-direction: column;
}

.editProject__contentTitleImage > img {
    width: 300px;
}

.editProject__contentTags {
    display: flex;
}

.editProject__contentTagButton--active > button {
    background-color: black;
}

.editProject__contentPreviewTitle {
    margin-bottom: 35px;
}

.editProject__contentParagraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

.editProject__contentParagraph > img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.editProject__imagePreview > img {
    width: 300px;
}

@media screen and (max-width: 800px) {
    .editProject__sideBar {
        position: fixed;
        top: 0px;
    }
    
    .editProject__body {
        margin-top: 72px;
        margin-left: 0px;
        padding: 50px;
    }
    
    .editProject__contentTitleImage {
        flex-direction: column;
    }
    
    .editProject__contentTitleImage > img {
        width: 300px;
    }
    
    .editProject__contentTags {
        display: flex;
    }
    
    .editProject__contentTagButton--active > button {
        background-color: black;
    }
    
    .editProject__contentPreviewTitle {
        margin-bottom: 35px;
    }
    
    .editProject__contentParagraph {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .editProject__contentParagraph > img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    }
    
    .editProject__imagePreview > img {
        width: 300px;
    }
}